body{
    text-align: center;
    justify-content: center;
    background-color: black;
    color: rgb(241, 143, 14);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: .6em;
    margin-bottom: .6em;
    margin-left: .6em;
    margin-right: .6em;
}
.buscador{
    justify-content: right;
    text-align: right;
    
    margin-top: 2%;
    margin-bottom: 10%;
    max-width: fit-content;
    
    
}